/*Author Info
Name : Tusher Das
Mail add : tusherd3@gmail.com
*/

/*
=====Index=====

1. Fusce at
2. Facilisis
3. Ante Donec
4. Blandit Rhoncus
5. Placerat
================
*/

/* Gloval CSS */
h1{

}
h2{
	font-size: 33px;
	font-family: 'Lato lightItalic', sans-serif;
	color: #838383;
}
h4{
	
}
h3{
	
}
h5 {
    color: #ed145b;
    font-size: 15px;
    margin: 0px 0px 10px;
}
h6 {
    color: #ed145b;
}
p{
    font-size: 15px;
    font-family: 'Lato light', sans-serif;
    color: #838383;
}
.btn-gl {
    background-color: #ed145b;
    color: white;
    border: none;
    width: 65%;
    height: 11%;
    font-size: 15px;
    border-radius: 22px;
    margin: 0 auto;
    position: absolute;
    left: 17%;
}
.btn-one {
    font-size: 15px;
    font-family: 'Lato Light', sans-serif;
    background-color: #ed145b;
    border: none;
    border-radius: 22px;
    padding: 10px 30px;
    margin-top: 5%;
}
.img-center{
	display: block;
	margin: 0 auto;
}
.no-padding{
	padding: 0px;
}
body{
	font-family: 'Lato', sans-serif;
}

/*Header*/
header{
	background: url(../img/main.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.nav-link{
	color: white;
	font-family: 'Lato Bold', sans-serif;
}
.nav-link.js-scroll-trigger.active {
    color: #ed145b;
    font-family: 'Lato Bold', sans-serif;
}
.hero {
    padding-top: 13%;
    padding-bottom: 15%;
}
.he{
	text-align: center;
}
.hero h2 {
    color: white;
    font-family: 'Lato black light', sans-serif;
    font-size: 45px;
}
.under-line {
    border-bottom: 1px solid #ed145b;
    display: block;
    width: 25%;
    margin: 35px auto;
}
.hero p {
    color: white;
    font-size: 18px;
    font-family: 'Lato Light', sans-serif;
    margin-bottom: 0%;
}

/*Sec-one*/
.sec-one{
	background-color: #f4f4f4;
	padding-top: 105px;
}
.under-lin {
    border-bottom: 2px solid #ed145b;
    display: block;
    width: 52%;
    margin: 5% 0 6%;
}
.lik {
    color: #ed145b;
    font-size: 15px;
}
.fa.fa-play-circle-o {
    font-size: 20px;
    margin: 0px 7px;
}
.sec-one img {
    display: block;
    height: 120%;
    width: 100%;
}

/*sec-two*/
.sec-two{
	background-color: #ffffff;
	padding-top: 140px;
}
.under-li{
	border-bottom: 2px solid #ed145b;
    display: block;
    width: 25%;
    margin: 28px auto 35px;
}
.sec-two img {
    margin: 25% 0% 32%;
}

/*sec-three*/
.sec-three {
    background-color: #f4f4f4;
    padding: 120px 0px 75px;
}
.cad{
	background-color: #5a5a5a;
	text-align: center;
}
.cad-two{
	background-color: #ed145b;
	text-align: center;
}
.cad p{
	color: white;
}
.bton {
    background-color: #f4f4f4;
    color: #5a5a5a;
    border: none;
    width: 55%;
    height: 10%;
    font-size: 15px;
    border-radius: 22px;
    margin: 0 auto;
    position: absolute;
    top: 26%;
    left: 23%;
}
.cads {
    background-color: #ffffff;
    text-align: center;
    padding: 19% 0% 25%;
}

/*Extra*/
.extra{
	background-color: white;
}
.mar {
    margin-left: -20px;
}
.marg {
    margin: 20px 0px;
}
.pad {
    margin-top: 20%;
}
.padi{
	margin-bottom: 11%;
}

/*Ext*/
.ext{
	background-color: #ed145b;
	padding: 75px 0px 100px;
}
.ext h1 {
    color: white;
    font-size: 38px;
    font-family: 'Lato Light Bold', sans-serif;
    float: left;
}
.btn {
    background-color: white;
    color: #ed145b;
    border: none;
    border-radius: 20px;
    padding: 7px 35px;
    font-size: 15px;
    position: absolute;
    float: right;
    left: 62%;
}

/* Sec-four*/
.sec-four {
    padding-top: 90px;
}
.cbody {
    background-color: #f4f4f4;
}
.img-hober {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-hober-contant {
    position: absolute;
    background-color: #ed145be0;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: 0.8s ease;
}
.fa.fa-search {
    position: absolute;
    color: white;
    font-size: 50px;
    left: 42%;
    top: 40%;
}
.img-hober:hover .img-hober-contant{
	right: 0;
}
.margin-tb {
    margin: 65px 0px 45px;
}
.margin-b {
    margin-bottom: 100px;
}
.fa.fa-angle-down {
    color: #ed145b;
    font-size: 175%;
    margin-bottom: 50px;
}
.t-center {
    width: 100%;
    text-align: center;
}

/*Extra-two*/
.extra-two {
    background: url(../img/main3.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 130px 0px;
}
/*Extra three*/
.extra-three {
    padding: 75px 0px;
}
.down {
    margin-top: 50px;
}
.der-line {
    border-bottom: 1px solid #ed145b;
    display: block;
    width: 25%;
    margin: 20px 0;
}

/*Footer*/
.foot{
	background-color: #2b2b2b;
	padding: 50px 0px;
}
.f-two {
    position: relative;
}
.last-img {
    position: absolute;
    top: 5px;
    left: 116px;
}